body {
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 50px;
}

#genero {
    text-align: center;
    font-weight: bold;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

h1 {
    margin-top: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
}
 
.navbar .search-container button {
	margin-top: 6px;
	margin-left: 4px;
	padding: 4.5px 10px; 
}

footer {
    margin-top: 20px;
}