body {
  margin: 0;
}

/* img {
  width: 100%; 
  background-size: cover;
} */

.header {
  background-image: url(Imagenes/libros-header.jpg);  
  background-size: cover;
  padding: 20px 10px;
}

.header a {
  background-color: lightgray;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

.nav-item {
  display: block;
  padding: 14px 16px;
  float: left;
  color: white;
}

.nav-bar .search-container {
  float: right;
  margin-right: 20px;
}

.nav-bar input[type=text] {
  margin-top: 6px;
  padding: 6px;
  font-size: 17px;
  border: none;
}

.nav-bar .search-container button {
  float: right;
  margin-top: 6px;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

